body {
  background-color: rgb(10, 10, 10);
  margin: 0px;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  padding: clamp(1rem, 5vw, 6rem);
}

nav > a {
  color: rgba(255, 255, 255, 0.25);
  font-family: "Open Sans", sans-serif;
  font-size: clamp(3rem, 8vw, 10rem);
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

nav > a:hover {
  color: white;
}

nav > a > img {
  width: min(40vh, 500px);
}

nav > a > span {
  display: block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
}

nav > a:hover > span {  
  border-top-color: white;
  border-bottom-color: white;
}

nav > a > img {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms, opacity 250ms;
  pointer-events: none;
  width: min(40vw, 500px);
}

nav > a:hover > img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


























